{% extends 'tpl/template.html' %}
{% block title %}New People{% endblock %}
{% block head %}
    {% assets "scss_new_people" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <script src="{{ url_for('static', filename='js/new_people.js') }}"></script>
{% endblock %}

{% block header %}{% include 'tpl/header.html' %}{% endblock %}

{% block body %}

    <div class="arrow-steps">
        <div class="step" id="step-1"> <span>Import photos</span></div>
        <div class="step" id="step-2"> <span>Apply K-same pixel</span></div>
        <div class="step" id="step-3"> <span>Resize images</span></div>
        <div class="step" id="step-4"> <span>Generate PCA</span></div>
        <div class="step" id="step-5"> <span>Add noise</span></div>
        <div class="step" id="step-6"> <span>ML tests</span></div>
        <div class="step" id="step-7"> <span>Save</span></div>
    </div>


    <p id="error"></p>

    <!-- Import photos -->
    <div class="panel hidden center" id="panel-1">
        <div class="upload-button">
            <input type="file" id="fileInput" name="fileInput" accept="image/*" style="display: none;" multiple>
            <label for="fileInput" class="upload-label">Choose photos</label>
        </div>
        <div id="upload-container"></div>
        <button type="button" class="button" onclick="step_0_upload()">Run</button>
        <button type="button" class="button" onclick="step_0_upload(true)">Next</button>
    </div>
    <!-- Apply K-same pixel -->
    <div class="panel hidden center" id="panel-2">
        Part not implemented yet. No effect here on the process.
        <br>
        Parameters to define
        <br>
        <button type="button" class="button" onclick="step_1_same_pixel()">Run</button>
        <button type="button" class="button" onclick="step_1_same_pixel(true)">Next</button>
        <br><br>
        <div id="image-container-1" class="center"></div>
    </div>
    <!-- Resize images -->
    <div class="panel hidden center" id="panel-3">
        <label for="width">Image width:</label>
        <input type="number" id="width" name="width" value="100" min="47" max="1000" step="1">
        <br>
        <label for="height">Image height:</label>
        <input type="number" id="height" name="height" value="100" min="62" max="1000" step="1">
        <br>
        <button type="button" class="button" onclick="step_2_resize()">Run</button>
        <button type="button" class="button" onclick="step_2_resize(true)">Next</button>
        <br><br>
        <div id="image-container-2" class="center"></div>
    </div>
    <!-- Generate PCA -->
    <div class="panel hidden center" id="panel-4">
        <label for="pca_components">Number of PCA components:</label>
        <input type="number" id="pca_components" name="pca_components" value="10" min="1" max="50" step="1">
        <br>
        <button type="button" class="button" onclick="step_3_pca()">Run</button>
        <button type="button" class="button" onclick="step_3_pca(true)">Next</button>
        <br><br>
        <div id="image-container-3" class="center"></div>
    </div>
    <!-- Add noise -->
    <div class="panel hidden center" id="panel-5">
        <br>
        <label for="privacyBudget">Privacy Budget (epsilon):</label>
        <input type="number" id="privacyBudget" name="privacyBudget" value="7" min="0" max="20" step="0.1">
        <br>
        <button type="button" class="button" onclick="step_4_noise()">Run</button>
        <button type="button" class="button" onclick="step_4_noise(true)">Next</button>
        <br><br>
        <div id="image-container-4" class="center"></div>
    </div>
    <!-- ML tests -->
    <div class="panel hidden center" id="panel-6">
        No ML tests.
        <br>
        You can skip this step.
        <br>
        <button type="button" class="button" onclick="step_5_ML()">Next</button>
    </div>
    <!-- Save -->
    <div class="panel hidden center" id="panel-7">
        If you think your user data is correct, you can now save him in our database.
        <br>
        Try in the 'Search' page to find out if your user can be identified.
        <br>
        <button type="button" class="button" onclick="step_6_save()">Save user</button>
    </div>

{% endblock %}

{% block footer %}{% include 'tpl/footer.html' %}{% endblock %}