.upload-button {
    text-align: center;
    margin-top: 25px;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #64aad2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#preview {
    max-width: 100%;
    height: 20em;
    border: 2px solid #64aad2;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#photoActions > button {
    margin-block: 2%;
    border-radius: 7px;
    font-family: inherit;
    background-color: olive;
    color: black;
    padding: 10px;
    border: none;
    display: inline-block;
    text-decoration: none;
}

#photoActions > button:hover {
    cursor: pointer;
    background-color: #caca38;
}

#result {
    padding: 10px;
    margin-inline: 40%;
}

